Repository phoenixvc/PhoenixRooivalk: changes, and which Codecov flags are due for each by the changed paths.
All: detector, api, keeper, evidence-cli, threat-simulator, marketing, x402, evidence, Detector App, API App, Keeper App, Evidence CLI, Threat Simulator, Marketing App, x402 Payment Protocol, Evidence Crate

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: auto
        threshold: 5%
        # Allow patch coverage to be lower for formatting/refactoring changes
        informational: true

# Define flags for each module/app
flags:
  detector:
    paths:
      - apps/detector/src/
    carryforward: true
  api:
    paths:
      - apps/api/
    carryforward: true
  keeper:
    paths:
      - apps/keeper/
    carryforward: true
  evidence-cli:
    paths:
      - apps/evidence-cli/
    carryforward: true
  threat-simulator:
    paths:
      - apps/threat-simulator-desktop/
    carryforward: true
  marketing:
    paths:
      - apps/marketing/src/
    carryforward: true
  x402:
    paths:
      - crates/x402/
    carryforward: true
  evidence:
    paths:
      - crates/evidence/
    carryforward: true

# Component coverage for summary view
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: detector
      name: Detector App
      paths:
        - apps/detector/src/**
    - component_id: api
      name: API App
      paths:
        - apps/api/**
    - component_id: keeper
      name: Keeper App
      paths:
        - apps/keeper/**
    - component_id: evidence_cli
      name: Evidence CLI
      paths:
        - apps/evidence-cli/**
    - component_id: threat_simulator
      name: Threat Simulator
      paths:
        - apps/threat-simulator-desktop/**
    - component_id: marketing
      name: Marketing App
      paths:
        - apps/marketing/src/**
    - component_id: x402
      name: x402 Payment Protocol
      paths:
        - crates/x402/**
    - component_id: evidence
      name: Evidence Crate
      paths:
        - crates/evidence/**

# PR comment configuration - comprehensive summary
comment:
  layout: "header,diff,flags,components,files"
  behavior: default
  require_changes: true
  require_base: false
  require_head: true
  hide_project_coverage: false

feat: wave 4b — unit economics page, competitor comparison, backlog update
  AGENT_BACKLOG.md
  apps/marketing/src/app/competitors/CompetitorsPageClient.tsx
  apps/marketing/src/app/competitors/competitors.module.css
  apps/marketing/src/app/competitors/page.tsx
  apps/marketing/src/app/unit-economics/UnitEconomicsPageClient.tsx
  apps/marketing/src/app/unit-economics/page.tsx
  apps/marketing/src/app/unit-economics/unit-economics.module.css
Due: marketing, Marketing App

feat: wave 5a — env validation expansion, changelog generation, SBIR compliance
  .github/workflows/ci-rust.yml
  .github/workflows/deploy-docs-azure.yml
  .github/workflows/detector-ci.yml
  .github/workflows/release.yml
  apps/marketing/src/app/sbir/SBIRPageClient.tsx
  cliff.toml
  scripts/validate-env.sh
Due: marketing, Marketing App

feat: wave 5b — interactive revenue projections, BOM breakdown, a11y fixes
  AGENT_BACKLOG.md
  apps/marketing/src/app/unit-economics/UnitEconomicsPageClient.tsx
  apps/marketing/src/app/unit-economics/unit-economics.module.css
  packages/ui/src/components/Button.tsx
  packages/ui/src/components/QuickActionsWidget.tsx
  packages/ui/src/components/RevealSection.tsx
  packages/ui/src/components/StickyHeader.tsx
Due: marketing, Marketing App

chore: update backlog — mark DX-002, DX-008 complete, audit notes for remaining P3
  AGENT_BACKLOG.md
Due: none

fix: correct 16 CLAUDE.md discrepancies found by accuracy audit (DX-008)
  CLAUDE.md
Due: none

feat: wave 5d — stale content fixes, wave 6 backlog from agent audits
  AGENT_BACKLOG.md
  CLAUDE.md
  apps/docs/docs/progress/progress-overview.md
  apps/keeper/CLAUDE.md
Due: keeper, Keeper App

fix: accessibility round 2 — contrast, fallbacks, ARIA improvements
  packages/ui/src/components/Button.tsx
  packages/ui/src/components/Card.tsx
  packages/ui/src/components/ExitIntentModal.tsx
  packages/ui/src/tokens/index.css
Due: none

docs: complete ADR backlog assessment — 54/54 items done, Wave 6 catalogued
  AGENT_BACKLOG.md
Due: none

feat: wave 6a — design tokens, API docs rewrite, ADR structural fixes + 3 new ADRs
  AGENT_BACKLOG.md
  apps/docs/docs/progress/2025/week-50.mdx
  apps/docs/docs/technical/architecture/adr-0000-adr-management.md
  apps/docs/docs/technical/architecture/adr-0101-rust-workspace-rustls-policy.md
  apps/docs/docs/technical/architecture/adr-0102-sqlite-operational-database.md
  apps/docs/docs/technical/architecture/adr-0401-wasm-integration-strategy.md
  apps/docs/docs/technical/architecture/adr-D010-calendar-export-integration.md
  apps/docs/docs/technical/architecture/architecture-decision-records.md
  apps/docs/docs/technical/integration/api-documentation.md
  apps/marketing/CALENDAR_FEATURE.md
  apps/marketing/src/contexts/ThemeContext.tsx
Due: marketing, Marketing App

feat: wave 6b — brand colors, market bundles, ADR fixes + 3 new ADRs
  .claude/agents/design/brand-guardian.md
  AGENT_BACKLOG.md
  apps/docs/docs/resources/slide-deck-guide.mdx
  apps/docs/docs/technical/architecture/adr-0034-keeper-dual-loop-design.md
  apps/docs/docs/technical/architecture/adr-0035-cicd-pipeline-strategy.md
  apps/docs/docs/technical/architecture/adr-0200-dual-chain-evidence-anchoring.md
  apps/docs/docs/technical/architecture/adr-0201-evidence-hashing-algorithm.md
  apps/docs/docs/technical/architecture/architecture-decision-records.md
  apps/marketing/public/logo-banner.svg
  apps/marketing/public/logo.svg
  apps/marketing/src/data/products.ts
Due: marketing, Marketing App

feat: Wave 6c — 15 P2 backlog items (tokens, markets, docs, ADRs)
  AGENT_BACKLOG.md
  apps/docs/docs/resources/documentation-status.md
  apps/docs/docs/technical/architecture/adr-0103-marketing-passwordless-auth.md
  apps/docs/docs/technical/architecture/adr-0301-python-detector-factory-pattern.md
  apps/docs/docs/technical/architecture/adr-0402-frontend-framework-selection.md
  apps/docs/docs/technical/architecture/adr-0403-tauri-desktop-packaging.md
  apps/docs/docs/technical/architecture/architecture-decision-records.md
  apps/docs/docs/technical/architecture/system-architecture-analysis.md
  apps/docs/docs/technical/mechanical/mechanical-design-adrs.md
  apps/marketing/src/app/globals.css
  apps/marketing/src/data/products.ts
Due: marketing, Marketing App

feat: Wave 6d — final 5 P3 backlog items (tokens, container, ADR fix)
  AGENT_BACKLOG.md
  apps/docs/docs/technical/architecture/adr-0072-incident-response.md
  apps/marketing/src/app/globals.css
  apps/marketing/src/app/preorder/preorder.module.css
  apps/marketing/src/components/Footer.module.css
  apps/marketing/src/components/Navigation.module.css
  apps/marketing/src/components/SkipNav.module.css
  apps/marketing/src/components/ThreatSimulator.module.css
  apps/marketing/src/components/Tour/Tour.module.css
  apps/marketing/src/components/sections/HeroSection.module.css
  apps/marketing/src/styles/variables.css
  packages/ui/src/tokens/index.css
Due: marketing, Marketing App

fix: update lockfile to include e2e @playwright/test dependency
  pnpm-lock.yaml
Due: none

fix: sort imports in detector main.py (ruff I001)
  apps/detector/src/main.py
Due: detector, Detector App

fix: resolve marketing typecheck errors in test files
  apps/marketing/src/__tests__/eventSystem.test.ts
  apps/marketing/src/__tests__/objectPool.test.ts
  apps/marketing/tsconfig.json
Due: marketing, Marketing App

fix: add blank line before decorator in settings.py (black)
  apps/detector/src/config/settings.py
Due: detector, Detector App

fix: resolve cargo fmt and clippy warnings across Rust workspace
  apps/api/src/db.rs
  apps/api/src/handlers.rs
  apps/api/src/handlers_x402.rs
  apps/api/tests/career_application_tests.rs
  apps/api/tests/profile_update_tests.rs
  apps/api/tests/workspace_integration_tests.rs
  apps/evidence-cli/src/main.rs
  apps/keeper/src/batch_anchor.rs
  apps/keeper/tests/batch_anchor_integration.rs
  crates/address-validation/tests/validation_tests.rs
  crates/x402/src/attestation.rs
  crates/x402/tests/x402_integration.rs
Due: api, keeper, evidence-cli, x402, API App, Keeper App, Evidence CLI, x402 Payment Protocol

fix: address CodeRabbit review feedback across workspace
  .claude/settings.json
  .github/workflows/ci-marketing.yml
  apps/detector/src/config/settings.py
  apps/detector/src/multi_camera.py
  apps/docs/docs/technical/architecture/adr-0000-adr-management.md
  apps/docs/docs/technical/architecture/adr-0015-prompt-management.md
  apps/docs/docs/technical/architecture/adr-0072-incident-response.md
  apps/docs/docs/technical/architecture/adr-0201-evidence-hashing-algorithm.md
  apps/docs/docs/technical/architecture/adr-0301-python-detector-factory-pattern.md
  apps/docs/docs/technical/integration/api-documentation.md
  apps/evidence-cli/src/main.rs
  apps/marketing/CALENDAR_FEATURE.md
  apps/marketing/src/app/capabilities/CapabilitiesPageClient.tsx
  apps/marketing/src/app/globals.css
  apps/marketing/src/app/unit-economics/UnitEconomicsPageClient.tsx
Due: detector, evidence-cli, marketing, Detector App, Evidence CLI, Marketing App

fix: address remaining CodeRabbit review feedback
  apps/docs/docs/progress/progress-overview.md
  apps/docs/docs/technical/architecture/adr-0072-incident-response.md
  apps/docs/docs/technical/architecture/adr-0200-dual-chain-evidence-anchoring.md
  apps/docs/docs/technical/architecture/adr-0201-evidence-hashing-algorithm.md
  apps/docs/docs/technical/architecture/adr-0301-python-detector-factory-pattern.md
  apps/docs/docs/technical/architecture/adr-0403-tauri-desktop-packaging.md
  apps/docs/docs/technical/architecture/system-architecture-analysis.md
  apps/docs/docs/technical/mechanical/mechanical-design-adrs.md
  apps/marketing/src/app/technical/TechnicalPageClient.tsx
  apps/marketing/src/app/technical/technical.module.css
  apps/marketing/src/app/timeline/TimelinePageClient.tsx
  apps/marketing/src/app/unit-economics/UnitEconomicsPageClient.tsx
Due: marketing, Marketing App

fix: address remaining CodeRabbit review feedback (round 3)
  CLAUDE.md
  apps/marketing/src/app/about/AboutPageClient.tsx
  apps/marketing/src/app/financial/FinancialPageClient.tsx
  apps/marketing/src/app/partnerships/PartnershipsPageClient.tsx
  apps/marketing/src/app/schedule/SchedulePageClient.tsx
  apps/marketing/src/app/unit-economics/UnitEconomicsPageClient.tsx
  apps/marketing/src/app/unit-economics/unit-economics.module.css
Due: marketing, Marketing App

fix: align Playwright Docker image with installed version (1.58.2)
  .github/workflows/e2e.yml
  e2e/package.json
Due: none

fix: resolve CI failures in cargo audit, API e2e, and marketing e2e
  .github/workflows/ci-rust.yml
  .github/workflows/e2e.yml
  e2e/tests/api-health.spec.ts
  e2e/tests/marketing-pages.spec.ts
Due: none

fix: resolve e2e CI failures and prettier formatting
  .github/workflows/e2e.yml
  e2e/tests/marketing-pages.spec.ts
Due: none

fix: enable SQLite create_if_missing for API startup
  apps/api/src/lib.rs
Due: api, API App

fix: match API e2e assertions to actual paginated response shape
  e2e/tests/api-health.spec.ts
Due: none

deps: consolidate dependency updates from PRs #614-#635
  Cargo.lock
  apps/api/Cargo.toml
  apps/docs/package.json
  apps/keeper/Cargo.toml
  apps/keeper/src/lib.rs
  apps/marketing/package.json
  apps/threat-simulator-desktop/Cargo.toml
  package.json
  packages/ui/src/components/__tests__/Button.test.tsx
  packages/ui/src/components/__tests__/ExitIntentModal.test.tsx
  packages/ui/src/components/__tests__/StickyHeader.test.tsx
  packages/ui/src/setupTests.ts
  pnpm-lock.yaml
Due: api, keeper, threat-simulator, API App, Keeper App, Threat Simulator

deps: upgrade eslint to 10 and drop rand from x402
  .eslintrc.js
  Cargo.lock
  apps/docs/.eslintrc.js
  apps/docs/package.json
  apps/marketing/eslint.config.mjs
  apps/marketing/package.json
  apps/marketing/src/__tests__/authFlow.test.tsx
  config/eslint.config.mjs
  crates/x402/Cargo.toml
  crates/x402/src/attestation.rs
  eslint.config.mjs
  package.json
  packages/types/package.json
  packages/ui/.eslintrc.js
  packages/ui/eslint.config.mjs
  packages/ui/package.json
  pnpm-lock.yaml
Due: marketing, x402, Marketing App, x402 Payment Protocol

style: fix prettier formatting in UI test files
  packages/ui/src/components/__tests__/Button.test.tsx
  packages/ui/src/components/__tests__/ExitIntentModal.test.tsx
Due: none

fix: update pnpm version in CI workflows and fix rand 0.10 API in simulator
  .github/workflows/deploy-azure-functions.yml
  .github/workflows/e2e.yml
  apps/threat-simulator-desktop/src/game/formations.rs
  apps/threat-simulator-desktop/src/game/particles.rs
  apps/threat-simulator-desktop/src/game/waves.rs
Due: threat-simulator, Threat Simulator

fix: resolve azure_core version split and reqwest duplicate name error
  Cargo.lock
  apps/api/Cargo.toml
Due: api, API App

chore(deps): consolidate dependency updates from PRs #616, #620, #641, #643, #644
  .github/workflows/release.yml
  Cargo.lock
  apps/marketing/package.json
  apps/threat-simulator-desktop/Cargo.toml
  pnpm-lock.yaml
Due: threat-simulator, Threat Simulator

fix(deps): upgrade azure_core/azure_identity to 0.32 with compat shim
  Cargo.lock
  apps/api/Cargo.toml
  apps/api/src/providers/cosmos.rs
Due: api, API App

first commit
  README.md
Due: none

fix: resolve dependency conflicts and formatting from consolidated PRs
  apps/api/Cargo.toml
  apps/docs/docs/business/prd/features/feat-inc-1-threat-simulator.md
  apps/docs/docs/business/prd/features/feat-new-1-tech-deep-dive.md
  apps/docs/docs/business/prd/features/feat-new-2-case-studies.md
  apps/docs/docs/business/prd/master-prd.md
  apps/docs/docs/technical/detector/pi-detector-v2-production-plan.md
  apps/docs/docs/technical/detector/raspberry-pi-drone-detection-plan.md
  apps/docs/src/data/products/types.ts
  crates/x402/Cargo.toml
Due: api, x402, API App, x402 Payment Protocol

chore: update Cargo.lock for reverted dependency versions
  Cargo.lock
Due: none

feat: add git branching strategy, setup script, and documentation
  CONTRIBUTING.md
  docs/branching-strategy.md
  renovate.json
  scripts/setup-branching-strategy.sh
Due: none

chore: add SessionStart hook to install gh CLI
  .claude/hooks/install-gh.sh
  .claude/settings.json
Due: none

fix: address PR review findings across CI, scripts, and tests
  .claude/hooks/install-gh.sh
  .github/workflows/codeql.yml
  .github/workflows/e2e.yml
  apps/api/Cargo.toml
  apps/detector/tests/unit/conftest.py
  apps/detector/tests/unit/test_track_persistence.py
  scripts/setup-branching-strategy.sh
Due: api, API App

docs: add Phase 1 ESP32 demo stack hardware specifications
  apps/docs/docs/technical/hardware/phase1/overview.md
  apps/docs/docs/technical/hardware/phase1/shared-parts.md
  apps/docs/docs/technical/hardware/phase1/skywatch-nano.md
  apps/docs/docs/technical/hardware/phase1/skywatch-standard.md
  apps/docs/docs/technical/hardware/phase1/trigger-node.md
  apps/docs/docs/technical/hardware/phase1/turret-tracker.md
  apps/docs/docs/technical/hardware/phase1/wiring-safety.md
  apps/docs/sidebars.ts
Due: none
